.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}


.App-header {
  background-color: #b2b9c9;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

}

.App-link {
  color: #7faed4;
 
}


